.grid {
  display: grid;
  gap: 1rem;
}

.hourly-grid {
  grid-template-columns: repeat(24, 1fr);
}

.daily-grid {
  grid-template-columns: 1fr;
}

.grid > h3 {
  display: block;
  grid-column: 1 / -1;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-variant-emoji: emoji;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

pre {
  font-family: monospace, serif;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

html {
  background-color: #073642;
  color: #839496;
  margin: 1em;
}

pre {
  color: #839496;
  box-shadow: 5pt 5pt 8pt #073642;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.15em;
}

.green {
  color: green;
}

.greenbright {
  color: limegreen;
}

.yellow {
  color: lightyellow;
}

.yellowbright {
  color: yellow;
}

.redbright {
  color: orangered;
}

.red {
  color: darkred;
}

.white {
  color: black;
}

.blue {
  color: blue;
}

.lightgrey {
  color: lightgrey;
}

.grey {
  color: grey;
}

.lightblue {
  color: lightblue;
}

.whtiebright {
  color: white;
}

@media (prefers-color-scheme: dark) {
  .green {
    color: lightgreen;
  }

  .greenbright {
    color: lime;
  }

  .yellow {
    color: lightyellow;
  }

  .yellowbright {
    color: yellow;
  }

  .redbright {
    color: tomato;
  }

  .red {
    color: red;
  }

  .white {
    color: white;
  }

  .blue {
    color: lightblue;
  }

  .lightgrey {
    color: darkgrey;
  }

  .darkgrey {
    color: grey;
  }

  .lightblue {
    color: blue;
  }

  .whitebright {
    color: white;
  }
}
